<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @reservation.code %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @reservation.started_at %>
</p>

<p>
  <strong>Ended at:</strong>
  <%= @reservation.ended_at %>
</p>

<p>
  <strong>Started time:</strong>
  <%= @reservation.started_time %>
</p>

<p>
  <strong>Ended time:</strong>
  <%= @reservation.ended_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user %>
</p>

<p>
  <strong>Car park:</strong>
  <%= @reservation.car_park %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
