<%= simple_form_for @car_park, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-lg-6">
      <%= f.input :address %>
    </div>
    <div class="col-lg-6">
      <%= f.input :price %>
    </div>
    <div class="col-lg-6">
      <%= f.input :url_image %>
    </div>
    <div class="col-lg-6">
      <%= f.input :description %>
    </div>
  </div>
  
  
  
  
  
  <%= f.input :state %>
  <%= f.input :started_at %>
  <%= f.input :ended_at %>
  <%= f.input :started_time %>
  <%= f.input :ended_time %>
  <%= f.input :user_id %>
  <%= f.input :district_id %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                car_parks_path, :class => 'btn btn-default' %>
<% end %>
